ADMIN_USERNAME=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
ADMIN_PASSWORD=
COORDINADOR_USERNAME=
COORDINADOR_PASSWORD=
COORDINADOR_ZONA=
DEMO_PROFESOR_USERNAME=
DEMO_PROFESOR_PASSWORD=
DEMO_PROFESOR_NOMBRE=
DEMO_PROFESOR_ZONA=
PROFESOR_1_USERNAME=
PROFESOR_1_PASSWORD=
PROFESOR_1_NOMBRE=
PROFESOR_1_ZONA=
